@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    @apply font-monstserrat;
  }

  body {
    @apply bg-gray-1;
  }
}

@layer components{
  .element{
    @apply w-full p-1 focus:outline-none text-xl resize-none font-mcLaren
  }
}